<ion-content [fullscreen]="true" class="fond">

  <div class="bandeau-superieur">
    <div class="bandeau-interne"></div>
  </div>

  <div class="conteneur-principal">

    <div class="illustration-zone-succes">
      <img src="assets/mdp2.png" alt="Illustration de succès" class="succes" />
    </div>

    <div class="carte-message">

      <h1 class="titre-message">Mot de passe réinitialisé</h1>

      <p class="texte-confirmation">Votre mot de passe a été changé avec succès. Vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>

      <ion-button class="btn-connexion-reinit" (click)="goToConnexion()">
        Se connecter
      </ion-button>
    </div>
  </div>
</ion-content>